html(lang="en")
  head
    include includes/head.pug
  body
    include includes/hero.pug
    include includes/featured-products-carousel.pug
    include includes/news-and-resource.pug
    
    include includes/scripts.pug