@font-face {
  font-family: 'BreeSerif-Regular';
  src: url('../fonts/BreeSerif-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/BreeSerif-Regular.otf')  format('opentype'),
       url('../fonts/BreeSerif-Regular.woff') format('woff'),
       url('../fonts/BreeSerif-Regular.ttf')  format('truetype'), 
       url('../fonts/BreeSerif-Regular.svg#BreeSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
